body {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff00ea1c; 
    border-radius: 6px; 
}

::-webkit-scrollbar-track {
    background-color: transparent;
}



#bg{
    width: 100%;
    position: fixed;
    z-index: -1;
}


.pfp-class {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    padding-top: 29vw;
    top: 25vw;

}

#pfp {
    width: 13%;
    border-radius: 50%;
    object-fit: cover;
    border: rgb(8, 8, 8) 2vw solid;
    padding: 1px;
    background-color: rgb(8, 8, 8);

}

#black-bar{
    width: 100%;
    height: 15vw;
    background-color: rgb(8, 8, 8);
    position: absolute;
    top: 34vw;
    z-index: -1;

    display: flex;

    padding-bottom: 40px;
}



#black-bar h1{
    color: rgba(255, 255, 255, 0.89);
    z-index: -2;
}

.blank{

    height: 24vw;
    background-color: rgb(15, 15, 15);
    color: #ffffff;
    text-align: center;
    padding-top: 2vw;
    font-size: small;

}

#border-g{
    background: linear-gradient(to right, rgb(255, 0, 128), rgb(242, 247, 0), rgb(0, 255, 0));
    height: 2px;
}

#red{
    color: rgba(255, 0, 221, 0.596);
    text-shadow: 0px 0vw 1.3vw rgb(255, 0, 221) ;
}

.hide-bg{
    background-color: rgb(15, 15, 15);
}
.hide-bg p{
    margin: 0px;
}

.information{
    width: 50%;
    background: linear-gradient(to right, hsla(330, 100%, 50%, 0.24), rgba(153, 0, 84, 0.308));
    box-shadow: 0px 0px 2vw rgba(255, 1, 141, 0.911);
    margin: auto;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    
    margin-bottom: 5vw;
}

.information h2{
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    text-shadow: 0px 0px 2vw black;
    padding: 1px;
    padding-top: 2vw;
    
    
}

.info-imgs{
    display: flex;
    justify-content: center;
    align-content: center;
}

#wattpad{
    width: 20vw;

}

#fanfiction{
    width: 20vw;
}

.information2{
    width: 50%;
    background: linear-gradient(to right, hsla(330, 100%, 50%, 0.24), rgba(153, 0, 84, 0.308));
    box-shadow: 0px 0px 2vw rgba(255, 1, 141, 0.911);
    margin: auto;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-bottom: 100px;
}

.information2 h2{
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    text-shadow: 0px 0px 2vw black;
    padding: 1px;
    padding-top: 2vw;
    padding-bottom: 20px;
}

.center-stuff{
    display: flex;
    justify-content: center;
    align-content: center;
}

#discord{
    
    width: 20vw;
    padding-bottom: 20px;
}

#secret{
    display: flex;
    justify-content: center;
    align-content: center;

    padding-bottom: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #006e09;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #002503;
}

input[type="text"]:focus {
    border-color: #00bd19;
    outline: none;

}

button{
    padding: 10px;
    margin: 5px 0;

    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #002503;
}

@media screen and (min-width: 426px){
    .blank{
        height: 17vw;
    }

    .information h2{
        font-size: 25px;
    }
    .information2 h2{
        font-size: 25px;
    }

    input[type="text"] {
        width: 30%;
    }
}

@media screen and (min-width: 769px){
    .blank{
        height: 10vw;
        font-size: 20px;
    }

    .information h2{
        font-size: 30px;
    }

    #wattpad{
        width: 11vw;
    }
    
    #fanfiction{
        width: 11vw;
    }

    .information2 h2{
        font-size: 20px;
    }

    #discord{
        width: 11vw;
        padding-bottom: 50px;
    }


}

@media screen and (min-width: 1720px){
    .information{
        width: 30%;
    }
    .information h2{
        font-size: 40px;
    }
    .information2{
        width: 30%;
    }
    .information2 h2{
        font-size: 40px;
    }

}
